.jd img{
    background:transparent url(images/jxface2.gif?v=1.1) no-repeat scroll left top;
    cursor:pointer;width:35px;height:35px;display:block;
}
.pp img{
    background:transparent url(images/fface.gif?v=1.1) no-repeat scroll left top;
    cursor:pointer;width:25px;height:25px;display:block;
}
.ldw img{
    background:transparent url(images/wface.gif?v=1.1) no-repeat scroll left top;
    cursor:pointer;width:35px;height:35px;display:block;
}
.tsj img{
    background:transparent url(images/tface.gif?v=1.1) no-repeat scroll left top;
    cursor:pointer;width:35px;height:35px;display:block;
}
.cat img{
    background:transparent url(images/cface.gif?v=1.1) no-repeat scroll left top;
    cursor:pointer;width:35px;height:35px;display:block;
}
.bb img{
    background:transparent url(images/bface.gif?v=1.1) no-repeat scroll left top;
    cursor:pointer;width:35px;height:35px;display:block;
}
.youa img{
    background:transparent url(images/yface.gif?v=1.1) no-repeat scroll left top;
    cursor:pointer;width:35px;height:35px;display:block;
}

.edui-emotion-tabcontent table {
    border-collapse: collapse;
}

.edui-emotion-tabcontent td {
    width: 48px;
    height: 38px;
}

#tabIconReview{position:absolute;left:445px;left:398px \9;top: 48px;z-index:65533;width:90px;height:76px;display: none;}
#tabIconReview.show{left:11px;display:block;}
img.review{width:90px;height:76px;border:2px solid #9cb945;background:#FFFFFF;background-position:center;background-repeat:no-repeat;}
