.wrapper {
    font-size: 12px;
    overflow: hidden;
}

.clear {
    clear: both;
}

.wrapper .left {
    float: left;
    margin-left: 10px;;
}

.wrapper .right {
    float: right;
    margin-right: 10px;
    border-left: 2px dotted #EDEDED;
    padding-left: 15px;
}

.section {
    width: 300px;
}

.section h3 {
    font-weight: bold;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #EDEDED;
    font-size: 12px;
}

.section ul {
    list-style: none;
    padding: 15px 0;
    margin: 0;
}

.section input[type="radio"], input[type="checkbox"] {
    margin: 0 5px 0 0;
}

.section li {
    float: left;
    margin-right: 20px;
}

.section .tone {
    width: 80px;;
}

.section .preview {
    width: 300px;
}

.section .preview table {
    margin-top: 15px;
    text-align: center;
    vertical-align: middle;
    color: #666;
}

.section .preview caption {
    font-weight: bold;
}

.section .preview td {
    border-width: 1px;
    border-style: solid;
    height: 22px;
}

.section .preview th {
    border-style: solid;
    border-color: #DDD;
    border-width: 2px 1px 1px 1px;
    height: 22px;
    background-color: #F7F7F7;
}

.colorpicker-input-box {
    position: relative;
    top: 0;
    left: 0;
}