.edui-btn-group + .edui-btn-group{
    margin-left:8px;
}

.edui-button-spacing{
    padding:5px;
}

.edui-button-font-label, .edui-button-fontsize-label {
    width: 50px;
    overflow: hidden;
    display: inline-block;
    text-align: left;
    *zoom: 1;
}

.edui-button-fontsize-label {
    width: 20px;
}

.edui-text-btn{
    display:inline-block;
    font-size:14px;
    text-decoration: none;
    text-align: center;
    vertical-align:middle;
    cursor:pointer;
    color:#000;
    margin-top:4px;
}
.edui-text-btn:hover{
    text-decoration: none;
    color:#000;
    cursor:pointer;
}