.edui-item-right{
    float:right;
    margin-left:20px;
}

.edui-contextmenu > li > a{
    padding:3px 20px;
}
.edui-contextmenu > li > a > .edui-contextmenu-icon {
    *zoom: 1;
    width: 25px;
    display:inline-block;
}
.edui-contextmenu > li > a i{
    position:static;
    top:0;
    left:0;
}
.edui-contextmenu .edui-contextsubmenu > a {
    padding-right: 10px;
}

.edui-contextsubmenu > a:after {
    margin-right: 0;
}

.edui-contextmenu > li > a h1,
.edui-contextmenu  > li > a h2,
.edui-contextmenu > li > a h3,
.edui-contextmenu  > li > a h4,
.edui-contextmenu  > li > a h5,
.edui-contextmenu  > li > a h6{
    display:inline
}
