.edui-modal{
    width:auto;
}
.edui-modal-body{
    max-height: 100%;
}
.edui-modal-body iframe{
    border: 0;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

/*link*/
.edui-link-body{
    width:400px;
    height:230px;
}