.edui-dropdown-menu{
    font-size:14px;
    min-width: 130px;
}
.edui-dropdown-menu > li > a{
    padding: 3px 0 3px 3px;
}
.edui-dropdown-menu > li > a i{
    position:static;
    top:0;
    left:0;
}
.edui-dropmenu-checkbox {
    display: inline-block;
    *zoom: 1;
    width: 25px;
    height: 20px;
    line-height: 20px;
    visibility: hidden;
}

.edui-dropmenu-checked {
    visibility: visible;
}